# Build products. The two screenshots are kept because the READMEs show them.
*.o
*.ppm
*.log
*.clean
shell.s
gfx.s
gfxshell.s
blob-gfx.s
blob-gshell.s
kernel64.elf
kernel64.bin
kernel.elf
gfx64.elf
gfx64.bin
gfx.elf
gshell64.elf
gshell64.bin
gshell.elf
intr.s
acpi.s
blob-intr.s
blob-acpi.s
intr64.elf
intr64.bin
intr.elf
acpi64.elf
acpi64.bin
acpi.elf
mm.s
blob-mm.s
mm64.elf
mm64.bin
mm.elf
threads.s
blob-threads.s
threads64.elf
threads64.bin
threads.elf
srv.s
blob-srv.s
srv64.elf
srv64.bin
srv.elf
fs.s
blob-fs.s
fs64.elf
fs64.bin
fs.elf
